In [22]:
### Q.1. What are keywords in python? Using the keyword library, print all the python keywords.

#Ans:
# keywords are default words in python which perform dedicated operation.
# we cant use keyword for another opertaion even as a variable.
# there are total 35 keywords in python.and each of then have separate and dedicated task to do.

import keyword
#first we need to import the keyword library.
print(keyword.kwlist)
# wuth the the help of .kwlist we can get every keyword in a list.

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
### Q.2. What are the rules to create variables in python?
#Ans:

""" Following are the rules to create variable in python:
1. variable cannot be start with number.
2. variable cannot be start with special character except'_' underscore.
3. python is a case sensitive so it can differentiate between small and capital letters.
4. cannot use keywords as a variable."""

In [ ]:
### Q.3. What are the standards and conventions followed for the nomenclature of variables in
#python to improve code readability and maintainability?

#Ans:
"""
1. try to use name as variable when possible with the underscore avoid space( ), underscore(_)makes it one word and stored it one place.
2. try not to use keyword as a variable for that keywords are colored in green so we can identify it.
3. python is case sensitive so use it properly.
4. use # to add text which will not take part in the code and help it to understand the code.
5. use("""multiline""") to pass the multiline comments.
6. use '\n'for next line.
7. use ' ' blank space for inline."""

In [1]:
### Q.4. What will happen if a keyword is used as a variable name?

#Ans:
# we will use 'True' keyword as a variable.
True = 10
print(True)
# it is showing syntax error as 'cannot assign to True.'

SyntaxError: cannot assign to True (540598385.py, line 5)

In [2]:
### Q.5. For what purpose def keyword is used?

#Ans:
# "def" keyword is used to define a user-defined-function.
# in python two types of function are available built-in-function and user-defined-function.
# lets understand it by example:

def addition(x,y):
    return x+y

addition(4,7)#(4+7=11)
# we created a new function as a 'addition' which perform addition operation.

11

In [5]:
### Q.6. What is the operation of this special character ‘\’?

#Ans:
# '\' when we use '\n' then it can create a new line.
# '\' when we use '\t' then it is used for represent tab character.
# '\' in nested loops it is very useful to use with '\n'.

In [25]:
### Q.7. Give an example of the following conditions:
#(i) Homogeneous list
#(ii) Heterogeneous set
#(iii) Homogeneous tuple

#Ans:
# (i) Homogeneous list:
# A homogeneous list is an list which contains same data type into the list.
# example: in this example we have all the values in 'int' data type.

l=[2,3,4,5,6]

#(ii) Heterogeneous set:
# A set becomes hetrogeneous when it contains different kind of data types.
# It can be int, str, float.
# example: in this set we have str, int and float.

set= {'ineuron',34,66.54}

#(iii) Homogeneous tuple:
# same as a list when the data type in the tuple is same like only str or int or float then it can be called as homogeneous tuple.
# example: in this tuple we will have all the values are as str.

tuple = ('ineuron','python','sql','fsds')

In [12]:
### Q.8. Explain the mutable and immutable data types with proper explanation & examples.

#Ans:
# Mutable data type:
# list and dictionary are the two mutable data types.
# In mutable data type we can modify the list or dict as per requirement and get the desired output.
# when we modify the list or dict it will get replace with the old one.
# lists, sets, and dictionary are the mutable data types.
# lets understand it by example:

# 1] list:
l= [1,2,3,4,5]# so first we have a list with the values 1,2,3,4,5.
l.append(6)# we added 6 by using append function.
l

[1, 2, 3, 4, 5, 6]

In [13]:
# 2] dictionary:
dict = {'key1':'pritam','key2':'kamble'}# we have key1 and key2 with the values.
dict['key3']=123 # create another key value pair.
dict.update() # update it to the orginal dict.
dict

{'key1': 'pritam', 'key2': 'kamble', 'key3': 123}

In [19]:
# immutable data type:
# Data types that cant be modified and get replaced with the old one are called immutable data types.
# strings, tuples are the examples of immutable data types.
# we can create a new data from the old one but the old remains the same.
# lets understand it by example:

# 1] string:
s = 'ineuron'# we can modify it but the orgininal string wont be change.
s1=s+ ' fsds'# we can do string concatenation.
s1

'ineuron fsds'

In [21]:
# 2] tuple:
t = (1,2,3,4,5)# here tuple contain 1,2,3,4,5 values.
t.remove(4)# try to remove 4 from it.
t # it is showing error.

AttributeError: 'tuple' object has no attribute 'remove'

In [3]:
### Q.9. Write a code to create the given structure using only for loop.

#Ans:
# we will use for loop for this operation.
# no.of rows is 5 

n = 5

for i in range(5):
    for j in range(i,n-1):
        print(' ',end='')
    for j in range(i+1):
        print('*',end='')
    for j in range(i):
        print('*',end='')
    print()

    *
   ***
  *****
 *******
*********

In [4]:
### Q.10. Write a code to create the given structure using while loop.

#Ans:

row = 5
spaces = 1
while row >= 1:
   
    print(' ' * spaces + '|' * (2*row - 1))
    row -= 1
    spaces += 1

 |||||||||
  |||||||
   |||||
    |||
     |